<?xml version="1.0"?>
<Settings>
  <SMTPSettings>
    <SMTPServer>smtpserver.lan</SMTPServer>
    <SMTPFrom>from@emaildomain.com</SMTPFrom>
    <SMTPTo>to@emaildomain.com</SMTPTo>
  </SMTPSettings>
  <ADSettings>
    <ADSearchBase>OU=example,DC=example,DC=example</ADSearchBase>
  </ADSettings>
</Settings>
